body {
    background-image: url('./Images/BG1.jpg');
}

.BG {
    position: fixed;
    z-index: -99;
    border-radius: 15px;
    width: 98%;
    height: 98%;
    opacity: 80%;
    filter: alpha(opacity=50);
    margin-left: 0.5%;
    bottom: 1%;
    background-image: url('./Images/BG2.jpg');
    background-size: cover;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

.Main {
    overflow-x: hidden;
    overflow-y: auto;
    width: auto;
    height: 99%;
}

.htitle {
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 2%;
    letter-spacing: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0 0 10px #000000;
}

.ButtonJB {
    background-color: rgba(100, 100, 100, 0.666);
    text-align: center;   
    width: 220px;
    height: 220px;
    margin-top: 2%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    justify-content: center;
    border-radius: 100%;
    transition: 1.5s;
    box-shadow: black;
    cursor: pointer;
    shape-outside: padding-box;
    text-decoration: none;
}

#ButtonJB:hover {
    background-color: rgba(200, 200, 200, 0.8);
    text-decoration: none;
}

.Jailbreak {
    background-color: rgba(79, 79, 79, 0.666);
    font-size: 25px;
    width: 220px;
    height: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 100%;
    transition: 1s;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', serif;
    overflow: hidden;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: white;
    text-align: center;
    text-shadow: 0 0 10px #000000;
}


#Jailbreak:hover {
    background-color: rgba(150, 150, 150, 0.8);
    text-decoration: none;    
    color: #2D3142;
    letter-spacing: 5px;
    text-shadow: 0 0 5px #474747;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
    border: 10px solid rgba(200, 200, 200, 0.8);;
    border-radius: 50%;
    border-top: 10px solid rgba(70, 69, 69, 0.8);
    border-left: 10px solid rgba(70, 69, 69, 0.8);
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

.Done {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -75px;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  color: white;
  text-shadow: 0 0 10px #000000;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.info {
    overflow: hidden;
    position: fixed;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 45px;
    font-family: sans-serif;
    color: #b8b8b8;
    transform: translate(-50%, -50%);
}

.j {
    font-size: 15px;
    color: #2F3335;
}

#log {
    justify-content: center;
    position: absolute;
    width: 90%;
    height: 20%;
    background-color: rgba(79, 79, 79, 0.666);
    border-radius: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 65;
    left: 5%;
    right: 5%;
}

.status {
  color: white;
  padding-left: 1%;
  overflow-y: none;
  overflow-x: auto;
}

#SL {
  position: absolute;
  bottom: 18;
  color: white;
  right: 7%;
}

#SLT{
  position: absolute;
  bottom: 18;
  color: white;
  right: 2%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#version {
  position: absolute;
  bottom: 0;
  color: white;
  left: 2%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
